/* Any custom styles go here */

.login-page, .register-page {
    background: #222d32;
}

.login-logo a, .register-logo a {
    color: #FFFFFF;
}

.login-box, .register-box {
    width: 360px;
    margin: 2% auto;
}

.main-header .logo .logo-lg {
    font-family: "Lato", "Serif" !important;
    font-weight: 600 !important;
}

.skin-black .main-header>.navbar .nav>li>a:hover, .skin-black .main-header>.navbar .nav>.active>a {
    background: #222D32;
    color: #FFF;
}


#ecoSystemGrid {
    height: 430px;
}