/* Any custom styles go here */

.content-wrapper {
    background: #f6f6f6;
}

.login-page, .register-page {
    background: #222d32;
}

.login-logo a, .register-logo a {
    color: #FFFFFF;
}

.login-box, .register-box {
    width: 360px;
    margin: 2% auto;
}

.main-header .logo .logo-lg {
    font-family: "Lato", "Serif" !important;
    font-weight: 600 !important;
}

.skin-black .main-header>.navbar .nav>li>a:hover, .skin-black .main-header>.navbar .nav>.active>a {
    background: #222D32;
    color: #FFF;
}

.nav-tabs-custom {
    background: transparent;
}

#ecoSystemGrid {
    height: 460px;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #222d32;
}

.modal-large .modal-lg {
    background: #FFFFFF;
}

.modal-large .modal-content {
    padding: 15px;
}